[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMMLi"]
	path = EMMLi
	url = https://github.com/timcdlucas/emmli
[submodule "disaggregation"]
	path = disaggregation
	url = https://github.com/cran/disaggregation
[submodule "paleomorph"]
	path = paleomorph
	url = https://github.com/timcdlucas/paleomorph
[submodule "palettetown"]
	path = palettetown
	url = https://github.com/timcdlucas/palettetown
